* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: end;
  top: 0;
  font-size: 14px;
  margin: 0 20px;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items > * {
  margin: 14px;
}

.menu {
  width: 24px;
}

.menu,
.search {
  opacity: 0.7;
}

.btn-access {
  background-color: #1a73e8;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

img {
  display: block;
  width: 300px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  display: flex;
  justify-content: space-between;
  width: 650px;
  line-height: 10px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cccbcb;
  border-radius: 32px;
}

.icon {
  width: 25px;
}

input {
  width: 500px;
  height: 50px;
  border: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 30px 4px;
  background-color: #dfe1e5;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #cccbcb;
}

.footer-items {
  list-style: none;
  display: flex;
  color: #70757a;
}

.footer-items > * {
  margin: 14px;
}
