.main {
  margin-top: 100px;
}

img {
  display: block;
  width: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
